---
import {
  getLangFromUrl,
  getLink,
  useTranslations,
  type translate,
} from "@/i18n/utils";

import { cn } from "@/lib/utils";

const url = Astro.url;
const lang = getLangFromUrl(url);
const t = useTranslations(lang);

const subpath = url.pathname.match(/[^\/]+/g);

const urls: { titre: translate; link: string }[] = [
  {
    titre: "nav.home",
    link: getLink(lang, ""),
  },
  {
    titre: "nav.articles",
    link: getLink(lang, "articles"),
  },
  {
    titre: "nav.about",
    link: getLink(lang, "about"),
  },
];

const isMobile = false; // Transformer en props
const isActive = (link: string) =>
  link === url.pathname || link === "/" + subpath?.[0];
---

<nav
  class={cn(
    isMobile
      ? "flex flex-col space-y-3 ml-3"
      : "hidden md:flex md:items-center md:space-x-4 md:text-sm md:font-medium"
  )}
>
  {
    urls.map((data) => (
      <a
        href={data.link}
        class:list={[
          "transition-colors hover:text-foreground/80 text-foreground/60",
          {
            "transition-colors hover:text-foreground/80 text-foreground":
              isActive(data.link),
          },
        ]}
      >
        {t(data.titre)}
      </a>
    ))
  }
</nav>
