---
import { FooterContent } from "@/components/core/footer-content";
import { cn } from "@/lib/utils";
---

<footer class={cn("border-t")}>
  <div class={cn("container flex justify-between h-14 items-center")}>
    <FooterContent client:load />
  </div>
</footer>
